<div>
	<div ng-click="vm.toggle()" ng-hide="vm.expanded" class="pull-right">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		<span class="sr-only">Show additional content</span>
	</div>
	<div ng-click="vm.toggle()" ng-show="vm.expanded" class="pull-right">
		<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
		<span class="sr-only">Hide additional content</span>
	</div>
	<div class="clearfix"></div>

	<div ng-show="vm.expanded" class="animate-show">
		<ng-transclude></ng-transclude>
	</div>
</div>