<div>
	<div ng-click="vm.toggle()" ng-class="{'hidden': vm.expanded}" class="pull-right">
		<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		<span class="sr-only">Show additional content</span>
	</div>

	<div ng-class="{'hidden': !vm.expanded}">
		<div>
			<ng-transclude></ng-transclude>
		</div>

		<div ng-click="vm.toggle()" class="pull-right">
			<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
			<span class="sr-only">Hide additional content</span>
		</div>
	</div>
</div>