<div>
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" ng-click="vm.cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title">{{vm.title}}</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal"
			  name="beerForm"
			  novalidate>
			<fieldset>

				<div class="form-group"
					 ng-class="{ 'has-error': beerForm.inputName.$invalid &&
												beerForm.inputName.$dirty }">
					<label class="col-md-2 control-label" for="inputName">Name</label>
					<div class="col-md-7">
						<input class="form-control" id="inputName" name="inputName" type="text"
							   placeholder="Name" ng-model="vm.beer.name"
							   required />
					</div>
					<div class="col-md-3 help-block has-error">
						<span ng-show="beerForm.inputName.$error.required">
							Name is required
						</span>
					</div>
				</div>

				<div class="form-group"
					 ng-class="{ 'has-error': beerForm.inputBrewery.$invalid &&
												beerForm.inputBrewery.$dirty }">
					<label class="col-md-2 control-label" for="inputBrewery">Brewery</label>
					<div class="col-md-6">
						<input class="form-control" id="inputBrewery" name="inputBrewery" type="text"
							   placeholder="Brewery" ng-model="vm.beer.brewery"
							   required />
					</div>
					<div class="col-md-4 help-block has-error">
						<span ng-show="beerForm.inputBrewery.$error.required">
							Brewery is required
						</span>
					</div>
				</div>

				<div class="form-group"
					 ng-class="{ 'has-error': beerForm.inputStyle.$invalid &&
												beerForm.inputStyle.$dirty }">
					<label class="col-md-2 control-label" for="inputStyle">Style</label>
					<div class="col-md-6">
						<input class="form-control" id="inputStyle" name="inputStyle" type="text"
							   placeholder="Style" ng-model="vm.beer.style"
							   required />
					</div>
					<div class="col-md-4 help-block has-error">
						<span ng-show="beerForm.inputStyle.$error.required">
							Style is required
						</span>
					</div>
				</div>

				<div class="form-group"
					 ng-class="{ 'has-error': beerForm.inputDate.$invalid &&
												beerForm.inputDate.$dirty }">
					<label class="col-md-2 control-label" for="inputDate">Date</label>
					<div class="col-md-6">
						<input class="form-control" id="inputDate" name="inputDate" type="date"
							   placeholder="Date of Tasting"
							   ng-model="vm.beer.dateOfTasting" required />
					</div>
					<div class="col-md-4 help-block has-error">
						<span ng-show="beerForm.inputDate.$error.required">
							Date is required
						</span>
					</div>
				</div>

				<div class="form-group"
					 ng-class="{ 'has-error': beerForm.inputJasonRating.$invalid &&
												beerForm.inputJasonRating.$dirty }">
					<label class="col-md-3 control-label" for="inputJasonRating">Jason's Rating</label>
					<div class="col-md-2">
						<input class="form-control" id="inputJasonRating" name="inputJasonRating"
							   type="number" ng-model="vm.beer.jasonRating"
							   min="0" max="5" />
					</div>
					<div class="col-md-7 help-block has-error">
						<span ng-show="beerForm.inputJasonRating.$error.min">
							Rating cannot be less than 0
						</span>
						<span ng-show="beerForm.inputJasonRating.$error.max">
							Rating cannot be more than 5
						</span>
						<span ng-show="beerForm.inputJasonRating.$error.number">
							Rating can only be a number between 0 and 5
						</span>
					</div>
				</div>

				<div class="form-group"
					 ng-class="{ 'has-error': beerForm.inputValRating.$invalid &&
												beerForm.inputValRating.$dirty }">
					<label class="col-md-3 control-label" for="inputValRating">Val's Rating</label>
					<div class="col-md-2">
						<input class="form-control" id="inputValRating" name="inputValRating"
							   type="number" ng-model="vm.beer.valRating"
							   min="0" max="5" />
					</div>
					<div class="col-md-7 help-block has-error">
						<span ng-show="beerForm.inputValRating.$error.min">
							Rating cannot be less than 0
						</span>
						<span ng-show="beerForm.inputValRating.$error.max">
							Rating cannot be more than 5
						</span>
						<span ng-show="beerForm.inputValRating.$error.number">
							Rating can only be a number between 0 and 5
						</span>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="vm.save()">Save</button>
	</div>
</div>