<div class="panel panel-primary"
	 ng-controller="BeerListController as vm">
	<div class="panel-heading">
		<h4 class="inline-block">Beer List</h4>
		<button class="btn btn-default pull-right" ng-click="vm.add()"
				ng-if="vm.profile.isLoggedIn">
			Add a new beer
		</button>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<td><a href="#" ng-click="vm.sort('Name')">Name</a></td>
					<td><a href="#" ng-click="vm.sort('Brewery')">Brewery</a></td>
					<td><a href="#" ng-click="vm.sort('Style')">Style</a></td>
					<td><a href="#" ng-click="vm.sort('DateOfTasting')">Date of Tasting</a></td>
					<td><a href="#" ng-click="vm.sort('JasonRating')">Jason's Rating</a></td>
					<td><a href="#" ng-click="vm.sort('ValRating')">Val's Rating</a></td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="beer in vm.beers">
					<td>{{ beer.name}}</td>
					<td>{{ beer.brewery }}</td>
					<td>{{ beer.style }}</td>
					<td>{{ beer.dateOfTasting | date }}</td>
					<td><nama-rating value="beer.jasonRating" max="5"></nama-rating></td>
					<td><nama-rating value="beer.valRating" max="5"></nama-rating></td>
					<td>
						<button class="btn btn-default" ng-click="vm.edit(beer)"
								ng-if="vm.profile.isLoggedIn">
							Edit
						</button>
					</td>
					<td>
						<nama-confirmation-button class="btn btn-confirm" ng-if="vm.profile.isLoggedIn"
												  click="vm.delete(beer)"
												  primary-style="btn-danger"
												  confirm-style="btn-warning"
												  wait-period="2">
							Delete
						</nama-confirmation-button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>