<div class="panel panel-primary"
	 ng-controller="BeerListController as vm">
	<div class="panel-heading"
		 style="font-size:large">
		Beer List
	</div>
	<div class="panel-body">
		<table class="table">

			<thead>
				<tr>
					<td><a href="#" ng-click="vm.sort('Name')">Name</a></td>
					<td><a href="#" ng-click="vm.sort('Brewery')">Brewery</a></td>
					<td><a href="#" ng-click="vm.sort('Style')">Style</a></td>
					<td><a href="#" ng-click="vm.sort('DateOfTasting')">Date of Tasting</a></td>
					<td><a href="#" ng-click="vm.sort('JasonRating')">Jason's Rating</a></td>
					<td><a href="#" ng-click="vm.sort('ValRating')">Val's Rating</a></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="beer in vm.beers">
					<td>{{ beer.name}}</td>
					<td>{{ beer.brewery }}</td>
					<td>{{ beer.style }}</td>
					<td>{{ beer.dateOfTasting | date }}</td>
					<td>{{ beer.jasonRating }}</td>
					<td>{{ beer.valRating }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>