<div>
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" ng-click="vm.cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title">{{vm.title}}</h3>
	</div>
	<form class="form-horizontal"
		  name="beerForm"
		  novalidate>
		<div class="modal-body">
			<fieldset>
				<div nama-formgroup>
					<label class="col-md-2" for="inputName">Name</label>
					<div class="col-md-6">
						<input id="inputName" name="inputName" type="text"
							   placeholder="Name" ng-model="vm.beer.name"
							   required />
					</div>
					<div class="col-md-4" nama-formerrors></div>
				</div>

				<div nama-formgroup>
					<label class="col-md-2" for="inputBrewery">Brewery</label>
					<div class="col-md-6">
						<input id="inputBrewery" name="inputBrewery" type="text"
							   placeholder="Brewery" ng-model="vm.beer.brewery"
							   required />
					</div>
					<div class="col-md-4" nama-formerrors></div>
				</div>

				<div nama-formgroup>
					<label class="col-md-2" for="inputStyle">Style</label>
					<nama-autocomplete id="inputStyle" name="inputStyle" class="col-md-6"
									   model="vm.beer.style" placeholder="Style"
									   url="http://localhost:58500/api/styles?term="
									   results-property="suggestions" required>
					</nama-autocomplete>
					<div class="col-md-4" nama-formerrors></div>
				</div>

				<div nama-formgroup>
					<label class="col-md-2" for="inputDate">Date</label>
					<div class="col-md-6">
						<input id="inputDate" name="inputDate" type="date"
							   placeholder="Date of Tasting"
							   ng-model="vm.beer.dateOfTasting" required />
					</div>
					<div class="col-md-4" nama-formerrors></div>
				</div>

				<div nama-formgroup>
					<label class="col-md-3" for="inputJasonRating">Jason's Rating</label>
					<div class="col-md-2">
						<input id="inputJasonRating" name="inputJasonRating"
							   type="number" ng-model="vm.beer.jasonRating"
							   min="0" max="5" />
					</div>
					<div class="col-md-7" nama-formerrors></div>
				</div>

				<div nama-formgroup>
					<label class="col-md-3" for="inputValRating">Val's Rating</label>
					<div class="col-md-2">
						<input id="inputValRating" name="inputValRating"
							   type="number" ng-model="vm.beer.valRating"
							   min="0" max="5" />
					</div>
					<div class="col-md-7" nama-formerrors></div>
				</div>

			</fieldset>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
			<button class="btn btn-primary" ng-disabled="beerForm.$invalid" ng-click="vm.save()">Save</button>
		</div>
	</form>
</div>