<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="vm.toggleCollapsed()">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{vm.brand}}</a>
		</div>

		<!-- Content to toggle -->
		<div class="collapse navbar-collapse" collapse="vm.isCollapsed">
			<form class="navbar-form navbar-right" ng-submit="vm.login()" ng-if="!vm.profile.isLoggedIn">
				<div class="form-group">
					<input type="text" class="form-control" 
						   placeholder="username" ng-model="vm.username" />
				</div>
				<div class="form-group">
					<input type="password" class="form-control" 
						   placeholder="password" ng-model="vm.password" />
				</div>
				<button type="submit" class="btn btn-default">Login</button>
				<div ng-show="vm.message">{{vm.message}}</div>
			</form>
			<div class="navbar-right" ng-show="vm.profile.isLoggedIn">
				<span class="navbar-text">Hello {{vm.profile.username}}</span>
				<a href="#" class="logout-link" ng-click="vm.logout()">Logout</a>
			</div>
		</div>
	</div>
</nav>