.autocomplete {
	position: relative;
	margin: 0;
}

.autocomplete ul {
	width: 90%;
	z-index: 1;
	position: absolute;
	left: 0;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: white;
	color: black;
	padding: 0;
	margin-left: 15px;
}

.autocomplete li {
	padding: 4px 12px;
	list-style: none;
	text-align: left;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.autocomplete li:hover {
	background-color: #ccc;
}

@media (max-width: 767px) {
	.autocomplete ul {
		width: 89%;
	}
}

@media (min-width: 768px) and (max-width: 990px) {
	.autocomplete ul {
		width: 95%;
	}
}